.small-btn {
	display: block;
	border-radius: 10px;
	background-color: #79c3f7;
	max-width: 200px;
	width: 100%;
	font-size: 12px;
	line-height: 1.2;
	color: #ffffff;
	padding: 7px 10px;
}
.small-btn span {
	display: inline-block;
	position: relative;
	padding-left: 20px;
}
.small-btn span img {
	display: block;
	max-width: 15px;
	max-height: 15px;
	position: absolute;
	left: 0;
	top: calc(50% - 7.5px);
}

.header {
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 53px;
}
.header-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 220px;
	position: relative;
}
.header-burger {
	display: none;
	position: relative;
	height: 40px;
	width: 140px;
}
.header-logo {
	width: 247px;
	position: absolute;
	top: -10px;
	left: -30px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header-contacts {
	width: 430px;
	order: 1;
}
.header-contacts-item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 14px;
}
.header-contacts-item:last-child {
	margin-bottom: 0;
}
.header-contacts-item > * {
	display: block;
	width: calc(50% - 15px);
}
.header-info {
	text-align: left;
}
.header-info .phone {
	font-size: 16px;
	font-weight: 700;
	color: #0f75bd;
	line-height: 1;
	white-space: nowrap;
}
.header-info-item {
	font-size: 12px;
	color: #657078;
	line-height: 1.2;
	margin-top: 14px;
}
.header-btn {
	display: block;
	border: 2px solid #ffab61;
	border-radius: 10px;
	padding: 12px 10px;
	font-weight: 600;
	color: #ffab61;
	font-size: 16px;
}
.header-btn:hover {
	background-color: #ffab61;
	color: #ffffff;
}
.header-nav {
	width: calc(100% - 450px);
}
.header-nav > ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.header-nav > ul > li {
	margin-right: 40px;
	margin-top: 20px;
	font-size: 16px;
	color: #657078;
}
.header-nav > ul > li.li-drop {
	position: relative;
	padding-right: 15px;
}
.header-nav > ul > li.li-drop:before {
	content: '';
	display: block;
	width: 10px;
	height: 5px;
	position: absolute;
	right: 0;
	top: calc(50% - 2.5px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('../i/drop-arr.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav > ul > li > a {
	color: #657078;
}
.header-nav > ul > li > a:hover {
	color: #333333;
}

.footer {
	background-color: #0f75bd;
	text-align: left;
}
.footer-top {
	padding: 20px 0 10px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-logo {
	width: 95px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-top-wrap {
	width: calc(100% - 140px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-logo-text, .footer-addres {
	font-size: 13px;
	color: #ffffff;
	line-height: 1.4;
}
.footer .phone {
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	white-space: nowrap;
}
.footer .social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .social li {
	max-width: 45px;
	margin-right: 20px;
}
.footer .social li:last-child {
	margin-right: 0;
}
.footer .social li img {
	display: block;
	max-width: 100%;
}
.footer-bot {
	border-top: 1px solid #79c3f7;
	padding: 30px 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-info {
	font-size: 11px;
	line-height: 1.4;
	color: #ffffff;
}
.footer-info a {
	color: #ffffff;
}
.footer-dev a {
	display: inline-block;
	color: #ffffff;
	font-size: 11px;
}
.footer-dev a span, .footer-dev a img {
	display: inline-block;
	vertical-align: middle;
}
.footer-cookie {
	font-size: 11px;
	color: #ffffff;
	line-height: 1.4;
	max-width: 600px;
	width: calc(100% - 473px);
}
.footer-cookie a {
	color: #ffffff;
}

.ekr {
	padding: 30px 0;
}
.ekr-big {
	padding: 90px 0;
}
.ekr.align-left {
	text-align: left;
}

.title {
	display: block;
	font-weight: 700;
	color: #0f75bd;
	font-size: 35px;
	line-height: 1.3;
}
.title span {
	border-bottom: 2px dotted #ffa438;
}
.subtitle {
	display: block;
	margin-top: 35px;
	font-size: 20px;
	line-height: 1.3;
}

.btn {
	display: block;
	border-radius: 10px;
	padding: 22px 10px;
	background-color: #ffa438;
	color: #ffffff;
	line-height: 1;
	font-weight: 700;
	font-size: 16px;
	max-width: 360px;
	width: 100%;
	text-align: center;
	border: 0;
}

.face {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../i/face-bg.jpg');
	padding: 130px 0 100px;
}
.face-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	min-height: calc(100vh - 230px);
}
.face-wrap .text {
	width: calc(50% + 30px);
	text-align: left;
}
.face-wrap .text .face-text {
	display: block;
	color: #657078;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
	max-width: 440px;
}
.face-wrap .text .btn {
	margin-top: 45px;
	font-size: 14px;
	padding: 18px 10px;
	max-width: 300px;
}
.face-wrap .image {
	position: relative;
	width: calc(50% - 60px);
}
.face-wrap .image img {
	display: block;
	max-width: calc(100% + 110px);
	margin: 0 auto;
}
.face-scroll {
	display: block;
	font-size: 16px;
	color: #51b7ff;
	line-height: 1;
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.face-scroll span {
	display: block;
}
.face-scroll img {
	display: block;
	max-width: 100%;
	margin: 15px auto 0;
}

.card-block {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('../i/card-block-bg.jpg');
	padding-top: 60px;
	padding-bottom: 230px;
}
.card-block-2 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('../i/card-block-bg-2.jpg');
	padding-top: 140px;
	padding-bottom: 80px;
}
.card-block-3 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('../i/card-block-bg-3.jpg');
	padding-top: 140px;
	padding-bottom: 140px;
}
.other-cards {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('../i/other-cards.jpg');
	padding: 140px 0 80px;
}
.cards {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.other-cards .cards {
	justify-content: flex-start;
}
.cards .card {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 18px 46px 0px rgba(15, 117, 189, 0.13);
	width: calc(50% - 15px);
	max-width: 500px;
	margin-top: 85px;
	background-color: #ffffff;
}
.other-cards .cards .card {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-top: 70px;
}
.other-cards .cards .card:nth-child(3n) {
	margin-right: 0;
}
.cards .card .image {
	overflow: hidden;
	position: relative;
}
.cards .card .image img {
	display: block;
	max-width: 100%;
}
.cards .card .content {
	padding: 40px 35px 50px;
	text-align: left;
}
.other-cards .cards .card .content {
	padding: 25px;
}
.cards .card .name {
	display: block;
	font-size: 23px;
	font-weight: 700;
}
.cards .card .text {
	margin-top: 30px;
	font-size: 16px;
	line-height: 1.2;
}
.cards .card .text ul li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 16px;
}
.cards .card .text ul li:last-child {
	margin-bottom: 0;
}
.cards .card .text ul li:before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 6px;
	border-radius: 50%;
	background-color: #fabb28;
}
.cards .card .result {
	margin-top: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}
.cards .card.card-blue .result {
	color: #84ccff;
}
.cards .card.card-purple .result {
	color: #ff8b8b;
}
.cards .card.card-green .result {
	color: #50c280;
}
.cards .card.card-orange .result {
	color: #ffaa72;
}
.cards .card .btn {
	margin: 40px auto 0;
}
.cards .card.card-blue .btn {
	background-color: #84ccff;
}
.cards .card.card-purple .btn {
	background-color: #ff8b8b;
}
.cards .card.card-green .btn {
	background-color: #50c280;
}
.cards .card.card-orange .btn {
	background-color: #ffaa72;
}

.b-form {
	margin: 45px auto 0;
	max-width: 430px;
}
.b-input, .b-select {
	margin-bottom: 15px;
	position: relative;
	text-align: left;
}
.b-select:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #b7b7b7;
	border-bottom: 0;
	position: absolute;
	right: 35px;
	top: calc(50% - 3px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-select.focus:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-input input, .b-input textarea, .b-select select, .b-input input[type="file"] + .file {
	display: block;
	width: 100%;
	resize: none;
	padding: 22px 35px;
	background-color: #eef2f7;
	border-radius: 10px;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-select select {
	padding-right: 57px;
}
.b-input input[type="file"] {
	display: none;
}
.b-input input[type="file"] + .file {
	cursor: pointer;
	color: #797777;
}
.b-input input[type="file"] + .file.active {
	color: #333333;
}
.b-input input::-webkit-input-placeholder,
.b-input input:-moz-placeholder,
.b-input textarea::-webkit-input-placeholder,
.b-input textarea:-moz-placeholder {
	color: #797777;
}
.b-input input::-webkit-outer-spin-button,
.b-input input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}
.b-form .btn {
	max-width: none;
}

.video-block {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../i/video-block-bg.jpg');
	padding-top: 230px;
	padding-bottom: 150px;
}
.videos {
	margin-top: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.videos .video-wrap {
	width: calc(50% - 15px);
	max-width: 560px;
	margin-bottom: 20px;
}
.videos .video-wrap .video {
	height: 315px;
}
.videos .video-wrap .video iframe {
	width: 100%;
	height: 100%;
}
.videos .video-wrap .name {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	margin-top: 15px;
	padding: 25px 30px;
}
.videos .video-wrap.video-purple .name {
	background-image: url('../i/video-purple.png');
}
.videos .video-wrap.video-green .name {
	background-image: url('../i/video-green.png');
}
.videos .video-wrap.video-orange .name {
	background-image: url('../i/video-orange.png');
}
.videos .video-wrap.video-blue .name {
	background-image: url('../i/video-blue.png');
}

.preim-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1030px;
	margin: 0 auto;
}
.preim-list li {
	position: relative;
	padding-left: 100px;
	text-align: left;
	font-size: 18px;
	line-height: 1.4;
	width: calc(50% - 15px);
	max-width: 450px;
	margin-top: 110px;
}
.preim-list li img {
	display: block;
	max-width: 90px;
	max-height: 90px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.banner-slider {
	margin: 110px auto 0;
	max-width: 1070px;
}
.banner-slide {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 18px 46px 0px rgba(15, 117, 189, 0.13);
	margin: 0 20px 38px;
	position: relative;
	padding: 110px 30px 90px 430px;
	text-align: left;
}
.banner-slide.lightblue-slide {
	background-color: #84ccff;
}
.banner-slide.green-slide {
	background-color: #50c280;
}
.banner-slide.purple-slide {
	background-color: #ff8b8b;
}
.banner-slide.blue-slide {
	background-color: #0f75bd;
}
.banner-title {
	display: block;
	font-weight: 700;
	font-size: 32px;
	color: #ffffff;
	line-height: 1.5;
	margin-bottom: 60px;
}
.banner-img {
	display: block;
	max-width: 390px;
	max-height: calc(100% - 15px);
	position: absolute;
	left: 215px;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.text-block {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../i/text-block-bg.jpg');
	padding-top: 220px;
	padding-bottom: 110px;
}
.text-with-img {
	margin-top: 55px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}
.text-with-img .image {
	width: calc(50% - 15px);
	order: 1;
}
.text-with-img .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.text-with-img .text {
	width: calc(50% - 15px);
	font-size: 16px;
	line-height: 1.5;
}
.text-with-img .text p {
	display: block;
	margin-bottom: 16px;
}
.text-with-img .text p:last-child {
	margin-bottom: 0;
}

.descr-list {
	margin-top: 55px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.descr-list li {
	width: calc(100%/3 - 20px);
	padding: 40px 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 14px 27px 0px rgba(0, 93, 158, 0.09);
	border-radius: 10px;
	background-color: #f8faff;
	text-align: left;
}
.descr-list li:nth-child(3n) {
	margin-right: 0;
}
.descr-list li .name {
	display: block;
	font-size: 21px;
	line-height: 1.3;
	margin-bottom: 30px;
	font-weight: 700;
}
.descr-list li .text {
	font-size: 14px;
	line-height: 1.3;
}
.descr-list li .text p {
	display: block;
	margin-bottom: 14px;
}
.descr-list li .text p:last-child {
	margin-bottom: 0;
}

.map-block {
	padding: 90px 0;
}
.map {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.map iframe.mobile {
	display: none;
}
.map-block .wrap {
	position: relative;
	background-color: #ffffff;
	max-width: 570px;
	padding: 50px 30px;
	margin-left: auto;
	margin-right: 0;
	border-radius: 10px;
	z-index: 1;
}
.map-block .title {
	font-size: 23px;
}

.mental-face {
	padding: 30px 0 60px;
}
.mental-face-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
}
.mental-face-top-left {
	font-size: 18px;
	font-weight: 700;
}
.mental-face-top-right {
	font-size: 14px;
	color: #657078;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.mental-face-top-right a {
	display: block;
	margin-left: 60px;
	color: #657078;
}
.mental-face-top-right a:hover {
	color: #333333;
}
.mental-face .wrap {
	margin-top: 45px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}
.mental-face .wrap .content {
	width: calc(50% + 30px);
}
.mental-face .wrap .image {
	width: calc(50% - 60px);
}
.mental-face .wrap .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.mental-face .wrap .content .text {
	margin: 40px 0;
	max-width: 400px;
	font-size: 15px;
	line-height: 1.5;
}

.mental-opr {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../i/mental-opr-bg.jpg');
	padding: 150px 0 170px;
}
.mental-opr .text {
	text-align: left;
	max-width: 980px;
	margin: 0 auto;
	font-size: 24px;
	line-height: 1.5;
}
.mental-opr .text p {
	margin-bottom: 24px;
}
.mental-opr .text p:last-child {
	margin-bottom: 0;
}

.mental-preim {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mental-preim .image, .mental-preim .items {
	width: calc(50% - 15px);
}
.mental-preim .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.mental-preim .items .item {
	position: relative;
	padding: 50px 30px 30px;
	margin-top: 40px;
	border-radius: 10px;
	background-color: #f8faff;
}
.mental-preim .items .item .number {
	display: block;
	font-weight: 900;
	font-size: 65px;
	color: #b7e1ff;
	position: absolute;
	left: 40px;
	top: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mental-preim .items .item .text {
	font-size: 15px;
	line-height: 1.6;
	text-align: left;
}
.mental-preim .items .item .text p {
	margin-bottom: 15px;
}
.mental-preim .items .item .text p:last-child {
	margin-bottom: 0;
}

.result-block {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../i/result-block-bg.jpg');
	padding: 200px 0 100px;
}

.b-video {
	max-width: 560px;
	margin: 110px auto 0;
}
.b-video .video {
	position: relative;
	width: 100%;
	height: 315px;
	margin-bottom: 20px;
}
.b-video .video iframe {
	width: 100%;
	height: 100%;
}
.b-video .name {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../i/video-gray.png');
	max-width: 430px;
	margin: 0 auto 40px;
	font-size: 14px;
	padding: 21px 30px;
}
.b-video .btn {
	margin: 0 auto;
}

.gallery {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.gallery li {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-top: 30px;
}
.gallery li:nth-child(3n) {
	margin-right: 0;
}
.gallery li img {
	display: block;
	max-width: 100%;
	border-radius: 10px;
	margin: 0 auto;
}

.about-wrap {
	padding-top: 55px;
}
.about-slider {
	position: relative;
	padding: 0 70px 30px;
	margin-top: 40px;
}
.about-slider .slick-arrow {
	display: block;
	width: 52px;
	height: 52px;
	position: absolute;
	top: calc(50% - 41px);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	font-size: 0;
	z-index: 10;
}
.about-slider .slick-next {
	background-image: url('../i/arr-right-1.png');
	right: 0;
}
.about-slider .slick-prev {
	background-image: url('../i/arr-left-1.png');
	left: 0;
}
.about-slider .slick-dots {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	line-height: 0;
	z-index: 10;
}
.about-slider .slick-dots li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	line-height: 0;
}
.about-slider .slick-dots li button {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #e1e1e1;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	line-height: 0;
}
.about-slider .slick-dots li.slick-active button {
	background-color: #0f75bd;
}
.about-slide img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.partners-block {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../i/partners-block.jpg');
	padding: 150px 0 140px;
}
.partners {
	margin-top: 75px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	jsutify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.partners li {
	position: relative;
	border-radius: 10px;
	background-color: #ffffff;
	height: 143px;
	margin-bottom: 30px;
	margin-right: 30px;
	width: calc(25% - 22.5px);
}
.partners li:nth-child(4n) {
	margin-right: 0;
}
.partners li img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.methods {
	margin-top: 80px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.methods .text {
	width: calc(50% - 15px);
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
.methods .text p {
	display: block;
	margin-bottom: 16px;
}
.methods .text p:last-child {
	margin-bottom: 0;
}
.methods .image {
	width: calc(50% - 15px);
}
.methods .image img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-bottom: 10px;
}
.methods .image img:last-child {
	margin-bottom: 0;
}

.stocks-block {
	padding-top: 40px;
	padding-bottom: 80px;
}
.stocks {
	max-width: 970px;
	margin: 50px auto 0;
}
.stocks li {
	position: relative;
	border-radius: 10px;
	padding: 50px;
	background-color: #f8faff;
	margin-bottom: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
}
.stocks li:last-child {
	margin-bottom: 0;
}
.stocks li .name {
	width: calc(50% - 15px);
	font-size: 20px;
	font-weight: 700;
}
.stocks li .text {
	width: calc(50% - 15px);
	max-width: 350px;
	font-size: 14px;
	line-height: 1.4;
}

.vacancy-block {
	padding: 60px 0 20px;
}
.vacancy-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}
.vacancy-wrap .content {
	width: calc(50% + 30px);
}
.vacancy-wrap .image {
	width: calc(50% - 60px);
}
.vacancy-wrap .subtitle {
	font-size: 15px;
}
.vacancy-wrap .b-form {
	margin-left: 0;
	text-align: center;
}
.vacancy-wrap .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.contacts .info {
	width: 100%;
	max-width: 340px;
	text-align: left;
}
.contacts .info-list {
	margin: 70px auto;
}
.contacts .info-list li {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 27px;
}
.contacts .info-list li:last-child {
	margin-bottom: 0;
}
.contacts .info-list li a {
	color: #333333;
}
.contacts .social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.contacts .social a {
	width: 100%;
	max-width: 60px;
	max-height: 60px;
	margin-right: 30px;
}
.contacts .social a:last-child {
	margin-right: 0;
}
.contacts .social a img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.contacts-map {
	width: calc(100% - 370px);
	height: 400px;
}

.reviews-block {
	padding: 40px 0 20px;
}
.reviews {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 50px;
}
.review {
	width: calc(100%/3);
}
.review iframe {
	width: 100% !important;
	min-width: auto !important;
	max-width: none !important;
	margin: 0 !important;
}
.reviews-block .btn {
	margin: 40px auto 0;
}

.thank-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	min-height: calc(100vh - 212px);
}
.thank-wrap .content {
	width: calc(50% - 15px);
	max-width: 540px;
	text-align: left;
}
.thank-wrap .content .text {
	margin-top: 35px;
	font-size: 15px;
	line-height: 1.4;
}
.thank-wrap .content .btn {
	margin-top: 60px;
}
.thank-wrap .image {
	width: calc(50% - 15px);
}
.thank-wrap .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}




@media screen and (max-width: 1280px){
	body .body-wrap {
		padding-top: 123px;
	}
	.header {
		padding-bottom: 24px;
	}
	.header-wrap {
		padding-left: 170px;
	}
	.header-logo {
		width: 200px;
	}
	.header-nav > ul > li {
		margin-right: 15px;
	}
	.header-contacts {
		width: 400px;
	}
	.header-nav {
		width: calc(100% - 420px);
	}

	.face-wrap .image img {
		max-width: 100%;
	}

	.map {
		position: relative;
		height: 400px;
	}
	.map iframe {
		display: none;
	}
	.map iframe.mobile {
		display: block;
	}
	.map-block .wrap {
		max-width: none;
	}

	.thank-wrap {
		min-height: calc(100vh - 183px);
	}
}
@media screen and (max-width: 1024px){
	body .body-wrap, body.main .body-wrap {
		padding-top: 98px;
	}
	.header {
		padding: 0;
		background-color: #ffffff;
	}
	.header-wrap {
		padding: 0;
		align-items: center;
	}
	.header-burger, .header-contacts-item.mobile {
		display: block;
	}
	.header-logo {
		position: relative;
		left: 0;
		top: 0;
		width: 160px;
	}
	.header-nav, .header-contacts-item, .header-btn {
		display: none;
	}
	.header-info-item {
		margin-top: 5px;
	}
	.header-info {
		width: 100%;
		text-align: right;
	}
	.header-contacts {
		width: 140px;
	}
	.mobile-menu .header-logo {
		display: block;
		margin: 0 auto 20px;
	}
	.mobile-menu .small-btn {
		margin: 0 auto 15px;
	}
	.mobile-menu .header-info {
		margin-top: 20px;
		text-align: center;
	}
	.mobile-menu .header-btn {
		display: block;
		max-width: 300px;
		margin: 20px auto 0;
	}

	.footer {
		text-align: center;
	}
	.footer-top {
		display: block;
		padding-bottom: 20px;
	}
	.footer-logo {
		margin: 0 auto;
	}
	.footer-top-wrap {
		display: block;
		width: 100%;
	}
	.footer .phone {
		margin-top: 15px;
	}
	.footer-addres {
		margin-top: 10px;
	}
	.footer .social {
		margin-top: 15px;
	}
	.footer-bot {
		padding: 20px 0;
		display: block;
	}
	.footer-cookie {
		width: 100%;
		margin: 20px auto;
		text-align: left;
	}
	
	.face {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.face-wrap {
		min-height: auto;
	}
	.face-scroll {
		display: none;
	}

	.videos .video-wrap .video {
		height: 252px;
	}

	.preim-list {
		display: block;
	}
	.preim-list li {
		width: 100%;
		margin: 110px auto 0;
	}

	.banner-slide {
		padding: 50px 30px 40px 260px;
	}
	.banner-title {
		margin-bottom: 30px;
	}
	.banner-img {
		max-width: 220px;
		left: 130px;
	}

	.other-cards .cards {
		justify-content: space-between;
	}
	.other-cards .cards .card {
		width: calc(50% - 30px);
		max-width: 370px;
		margin-right: 0;
	}

	.thank-wrap {
		min-height: calc(100vh - 158px);
	}
}
@media screen and (max-width: 960px){
	.face-wrap {
		display: block;
	}
	.face-wrap .text {
		width: 100%;
		margin-bottom: 30px;
	}
	.face-wrap .text .btn {
		margin: 30px auto 0;
	}
	.face-wrap .image {
		width: 100%;
	}

	.descr-list {
		justify-content: space-between;
	}
	.descr-list li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.mental-face-top {
		display: none;
	}
	.mental-face .wrap {
		display: block;
		margin-top: 0;
	}
	.mental-face .wrap .content {
		width: 100%;
	}
	.mental-face .wrap .btn {
		margin: 0 auto;
	}
	.mental-face .wrap .image {
		width: 100%;
		margin-top: 40px;
	}

	.mental-preim {
		display: block;
	}
	.mental-preim .image, .mental-preim .items {
		width: 100%;
	}
	.mental-preim .items {
		margin-top: 60px;
	}

	.gallery {
		justify-content: space-between;
	}
	.gallery li {
		margin-right: 0;
		width: calc(50% - 10px);
		margin-top: 20px;
	}

	.partners li {
		width: calc(100%/3 - 20px);
	}
	.partners li:nth-child(4n) {
		margin-right: 30px;
	}
	.partners li:nth-child(3n) {
		margin-right: 0;
	}

	.vacancy-wrap {
		display: block;
		text-align: center;
	}
	.vacancy-wrap .content {
		width: 100%;
	}
	.vacancy-wrap .image {
		width: 100%;
		margin-top: 30px;
	}
	.vacancy-wrap .b-form {
		margin-left: auto;
	}

	.contacts {
		display: block;
	}
	.contacts .info {
		text-align: center;
		max-width: none;
	}
	.contacts .social {
		justify-content: center;
	}
	.contacts-map {
		margin-top: 50px;
		width: 100%;
	}

	.review {
		width: 50%;
	}
}
@media screen and (max-width: 768px){
	.title {
		font-size: 22px;
	}
	.subtitle {
		font-size: 16px;
		margin-top: 15px;
	}

	.btn {
		padding: 18px 10px;
		font-size: 14px;
		margin: 0 auto;
		max-width: 300px;
	}

	.ekr-big {
		padding: 30px 0;
	}

	.footer .social li {
		max-width: 30px;
		margin-right: 15px;
	}

	.face-wrap .text {
		text-align: center;
		margin-bottom: 20px;
	}
	.face-wrap .text .face-text {
		font-size: 14px;
		max-width: 350px;
		margin: 0 auto 20px;
	}
	.face-wrap .text .btn {
		margin: 20px auto 0;
		font-size: 12px;
		padding: 14px 10px;
		max-width: 240px;
	}
	.face-wrap .image img {
		max-height: 300px;
	}

	.card-block {
		padding-top: 30px;
		padding-bottom: 130px;
	}
	.card-block-2 {
		padding: 100px 0 30px;
	}
	.card-block-3 {
		padding: 80px 0 30px;
	}
	.cards .card, .other-cards .cards .card {
		width: calc(50% - 10px);
		margin-top: 30px;
	}
	.cards .card .content {
		padding: 20px 15px 30px;
	}
	.other-cards .cards .card .content {
		padding: 15px;
	}
	.cards .card .name {
		font-size: 16px;
	}
	.cards .card .text {
		font-size: 14px;
		margin-top: 20px;
	}
	.cards .card .text ul li {
		padding-left: 16px;
	}
	.cards .card .text ul li:before {
		top: 5px;
	}
	.cards .card .result {
		margin-top: 20px;
		font-size: 14px;
	}
	.cards .card .btn {
		margin-top: 20px;
	}

	.b-form {
		margin-top: 25px;
	}
	.b-input input, .b-input textarea, .b-select select, .b-input input[type="file"] + .file {
		font-size: 14px;
		padding: 17px 15px;
	}

	.video-block {
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.videos {
		display: block;
		margin-top: 25px;
	}
	.videos .video-wrap {
		width: 100%;
		max-width: 448px;
		margin: 0 auto 20px;
	}
	.videos .video-wrap:last-child {
		margin-bottom: 0;
	}
	.videos .video-wrap .name {
		font-size: 14px;
		padding: 15px 25px;
		margin-top: 10px;
	}

	.preim-list li {
		padding-left: 60px;
		font-size: 14px;
		margin-top: 30px;
		max-width: 350px;
	}
	.preim-list li img {
		max-width: 40px;
		max-height: 50px;
	}

	.banner-slider {
		margin-top: 40px;
	}
	.banner-slide {
		padding: 30px 20px 0;
		text-align: center;
	}
	.banner-title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.banner-img {
		position: relative;
		left: 0;
		top: 0;
		max-width: 100%;
		max-height: 300px;
		margin: 20px auto 0;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.text-block {
		padding-bottom: 50px;
		padding-top: 120px;
	}
	.text-with-img {
		display: block;
		margin-top: 30px;
	}
	.text-with-img .image {
		width: 100%;
		margin-bottom: 20px;
	}
	.text-with-img .image img {
		max-height: 300px;
	}
	.text-with-img .text {
		width: 100%;
		font-size: 14px;
	}
	.text-with-img .text p {
		margin-bottom: 14px;
	}

	.descr-list {
		margin-top: 25px;
	}
	.descr-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		padding: 20px 15px;
	}
	.descr-list li .name {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.descr-list li .text {
		font-size: 12px;
	}
	.descr-list li .text p {
		margin-bottom: 12px;
	}

	.map {
		height: 300px;
	}
	.map-block .wrap {
		padding: 30px 0;
	}
	.map-block .title {
		font-size: 18px;
	}

	.mental-face {
		padding: 30px 0;
	}
	.mental-face .wrap {
		text-align: center;
	}
	.mental-face .wrap .content .text {
		margin: 20px auto;
		font-size: 13px;
	}
	.mental-face .wrap .image {
		margin-top: 20px;
	}
	.mental-face .wrap .image img {
		max-height: 300px;
	}

	.mental-opr {
		padding: 60px 0;
	}
	.mental-opr .text {
		font-size: 16px;
	}
	.mental-opr .text p {
		margin-bottom: 16px;
	}

	.mental-preim .items {
		margin-top: 0;
	}
	.mental-preim .image img {
		max-height: 300px;
	}
	.mental-preim .items .item {
		padding: 30px 15px 15px;
		margin-top: 30px;
	}
	.mental-preim .items .item .number {
		left: 20px;
		font-size: 36px;
	}
	.mental-preim .items .item .text {
		font-size: 13px;
	}

	.result-block {
		padding: 100px 0 50px;
	}

	.b-video {
		margin-top: 30px;
	}
	.b-video .video {
		margin-bottom: 10px;
	}
	.b-video .name {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.about-wrap {
		padding-top: 0;
	}
	.about-slider {
		margin-top: 20px;
		padding: 0 0 20px;
	}
	.about-slider .slick-dots li {
		margin: 0 5px;
	}
	.about-slider .slick-arrow {
		display: none !important;
	}

	.partners-block {
		padding: 80px 0 70px;
	}
	.partners {
		margin-top: 30px;
		justify-content: space-between;
	}
	.partners li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		margin-right: 0 !important;
	}

	.methods {
		margin-top: 30px;
		display: block;
	}
	.methods .text {
		width: 100%;
		margin-bottom: 20px;
		font-size: 14px;
	}
	.methods .text p {
		margin-bottom: 14px;
	}
	.methods .image {
		width: 100%;
	}
	.methods .image img {
		margin: 0 auto 10px;
	}

	.stocks-block {
		padding: 30px 0;
	}
	.stocks {
		margin-top: 20px;
	}
	.stocks li {
		display: block;
		text-align: center;
		padding: 15px;
		margin-bottom: 10px;
	}
	.stocks li .name {
		width: 100%;
		font-size: 16px;
	}
	.stocks li .text {
		width: 100%;
		font-size: 12px;
		margin: 15px auto 0;
	}

	.vacancy-block {
		padding: 30px 0 20px;
	}
	.vacancy-wrap .image img {
		max-height: 300px;
	}
	.vacancy-wrap .subtitle {
		font-size: 13px;
	}

	.contacts .info-list {
		margin: 30px auto;
	}
	.contacts .info-list li {
		font-size: 14px;
		margin-bottom: 21px;
	}
	.contacts .social a {
		margin-right: 10px;
		max-width: 30px;
		max-height: 30px;
	}
	.contacts-map {
		margin-top: 30px;
		height: 300px;
	}

	.reviews-block {
		padding: 30px 0 20px;
	}
	.reviews {
		margin-top: 20px;
	}
	.reviews-block .btn {
		margin-top: 20px;
	}

	.thank-wrap {
		flex-wrap: wrap;
	}
	.thank-wrap .content {
		width: 100%;
		max-width: none;
		text-align: center;
	}
	.thank-wrap .content .text {
		margin-top: 15px;
		font-size: 13px;
	}
	.thank-wrap .content .btn {
		margin-top: 20px;
	}
	.thank-wrap .image {
		width: 100%;
		margin-top: 20px;
	}
	.thank-wrap .image img {
		max-height: 300px;
	}
}
@media screen and (max-width: 560px){
	.cards {
		display: block;
	}
	.cards .card, .other-cards .cards .card {
		width: 100%;
		margin: 30px auto 0 !important;
	}

	.descr-list {
		display: block;
	}
	.descr-list li {
		width: 100%;
		max-width: 360px;
		margin: 0 auto 20px !important;
	}

	.gallery {
		display: block;
	}
	.gallery li {
		width: 100%;
		margin: 20px auto 0 !important;
	}

	.reviews {
		display: block;
	}
	.review {
		width: 100%;
	}
}
@media screen and (max-width: 460px){
	body .body-wrap, body.main .body-wrap {
		padding-top: 70px;
	}
	.header {
		padding: 15px 0;
	}
	.header-logo {
		display: none;
	}

	.videos .video-wrap {
		max-width: 330px;
	}
	.videos .video-wrap .video {
		height: 185px;
	}

	.b-video {
		max-width: 330px;
	}
	.b-video .video {
		height: 185px;
	}

	.partners {
		display: block;
	}
	.partners li {
		width: 100%;
		margin: 0 auto 20px !important;
	}
	.partners li:last-child {
		margin-bottom: 0 !important;
	}

	.thank-wrap {
		min-height: calc(100vh - 130px);
	}
}